body {
    font-family: Lato,Lato-fallback,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background: #0a1626;
}
header{
    width: 100%;
    background: #060d17;
    color: #d5d5d5;
}
.caja{
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 10px;
}
header img{
    width: 150px;
    height: 60px;
}
nav {
    position: absolute;
    top: 25px;
    right: 10px;
}
nav li{
    display: inline;
    margin-left: 20px;
}
nav a{
    text-transform: uppercase;
    color: #999c9f;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover, nav a:focus{
    color: #dad4ca;
    text-decoration: none;
}
nav .busqueda{
    margin: 0;
    position: relative;
    width: 375px;
    padding: 8px 5px;
    font-size: 16px;
    background: #0e1f36;
    color: #e6dcdc;
    border: none;
}
nav .cajaBusqueda{
    background: #0e1f36; 
    padding: 10px;
    border-radius: 8px;
}
nav .botonDespliegue{
    width: 38px;
    height: 38px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    color: #bdb9b9;
    background: #0e1f36;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown button{
    width: 35px;
    height: 35px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: #bdb9b9;
    background: #0e1f36; 
}
.dropdown-content {
    display: none;
    position: absolute;
    left: -80px;
    width: 350%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #bdb9b9;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
main{
    padding: 30px 70px;
}
.filtros li{
    display: inline;
    color: #999c9f;
    font-size: 18px;
    margin-right: 50px;
}
.filtros button{
    border: none;
    background: none;
    color: #999c9f;
    font-size: 18px;
    margin-right: 50px;
}
.filtros button:hover{
    color: #bdb9b9;
    border-bottom: 3px solid #2f4461;
}
main .contenido{
    margin-top: 20px;
}
main .contenido div{
    display: inline;
}
.imagen{
    width: 190px;
    height: 240px;
    margin: 12px;
    transition: border-color .5s, box-shadow .5s;
}
.imagen:hover{
    border-color: #4b84d0;
    box-shadow: 0px 0px 20px #4b84d0;
    width: 191px;
    height: 241px;
}