body {
    font-family: Lato,Lato-fallback,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background: #0a1626;
}
header{
    width: 100%;
    background: #060d17;
    color: #d5d5d5;
}
.caja{
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 10px;
}
header img{
    width: 150px;
    height: 60px;
}
nav {
    position: absolute;
    top: 25px;
    right: 10px;
}
nav li{
    display: inline;
    margin-left: 20px;
}
nav a{
    text-transform: uppercase;
    color: #999c9f;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover, nav a:focus{
    color: #dad4ca;
    text-decoration: none;
}
nav .busqueda{
    margin: 0;
    position: relative;
    width: 375px;
    padding: 8px 5px;
    font-size: 16px;
    background: #0e1f36;
    color: #e6dcdc;
    border: none;
}
nav .cajaBusqueda{
    background: #0e1f36; 
    padding: 10px;
    border-radius: 8px;
}
nav .botonDespliegue{
    width: 38px;
    height: 38px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    color: #bdb9b9;
    background: #0e1f36;
}
main{
    padding: 30px 70px;
}
.filtros li{
    display: inline;
    color: #999c9f;
    font-size: 18px;
    margin-right: 50px;
}
.filtros button{
    border: none;
    background: none;
    color: #999c9f;
    font-size: 18px;
    margin-right: 50px;
}
.filtros button:hover{
    color: #bdb9b9;
    border-bottom: 3px solid #2f4461;
}
main .contenido{
    margin-top: 20px;
}
main .contenido div{
    display: inline;
}
.imagen{
    width: 190px;
    height: 240px;
    margin: 12px;
    transition: border-color .5s, box-shadow .5s;
}
.imagen:hover{
    border-color: #4b84d0;
    box-shadow: 0px 0px 20px #4b84d0;
    width: 191px;
    height: 241px;
}