<div class="caja">
    <h2><img src="imagenes/GaleriaPersonal.png" id="logo"></h1>
    <nav>
        <ul>
            <li><a href="" class="nav">Ver Todo</a></li>
            <li><a href="" class="nav">Películas</a></li>
            <li><a href="" class="nav">Series</a></li>
            <li><a href="" class="nav">Anime</a></li>
            <li>
                <span class="cajaBusqueda">
                    <i class="fa fa-search"></i>
                    <input aria-label="search text" class="busqueda" placeholder="Búsqueda de Películas, Animes o Series" type="search" autocomplete="off" autocorrect="off" spellcheck="false">
                </span>
            </svg>
            </li>
            <li>
                <div class="dropdown">
                    <button><i class="fa fa-bars"></i></button>
                    <div class="dropdown-content">
                        <a href="index.html">Inicio</a>
                        <a href="login.html">Iniciar sesión</a>
                        <a href="regsitro.html">Registrarse</a>
                        <a href="informacion.html">Información</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>