<div class="filtros">
    <ul>
        <li>Filtros de búsqueda <i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
        <li><button>Genero <i class="fa fa-angle-up" aria-hidden="true"></i></i></button></li>
        <li><button>Idioma <i class="fa fa-angle-down" aria-hidden="true"></i></button></li>
        <li><button>Estado <i class="fa fa-angle-down" aria-hidden="true"></i></button></li>
        <li><button>Ordenar por <i class="fa fa-angle-down" aria-hidden="true"></i></button></li>
    </ul>
</div>
<div class="contenido">
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
    <div><img src="imagenes/Bullet.jpg" alt="" class="imagen"></div>
</div>